body { 
  background: url(../assets/emiratesfast.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	color: white;
	text-shadow: 1px 1px 5px black;
}

header h1{
	font-size: 60px;
	margin-bottom: 20px;
}

header {
	margin: 0 auto;
	padding-top: 75px;
	text-align: center;
	text-transform: uppercase;
}

.holder {
	background: rgba(38, 39, 34,.7);
	margin: 0 100px;
	padding: 25px 40px;
	margin-top: 50px;
}

.features {
	font-size: 24px;
	float: left;
}

.features li {
	padding-bottom: 30px;
	list-style-type: square;
}

.features li:last-child {
	padding-bottom: 0;
}

.sign_up{
	padding: 15px 25px 15px 25px;
	background: rgba(172, 172, 172, .5);
	text-align: center;
	float: right;
	color: black;
	text-shadow: none;
}

.sign_up p {
	margin-top: 10px;
}

input[type="email"] {
	height: 28px;
	font-size: 14px;
	margin: 10px;
}

.examples {
	margin: 50px 100px;
	text-align: center;

}

.examples img {
	width: 350px;
	height: auto;
}

.images {
	display: inline-block;
	margin-right: 40px;
	text-align: center;
}

.images:last-child{
	margin-right: 0;
}

.clear {
	clear: both;
}